html{
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


                     /*BORDER*/

.border{
    padding: 3rem 10rem 1.5rem 10rem;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 5rem;
}
.logo{
    display: flex;
}
.logo img{
    width: 5rem;
    margin-right: 0.5rem;
}
.logo a{
    display: flex;
    align-items: center ;
    text-decoration: none;
    color: black;
    font-size: 2.5em;
    font-weight: bold;
}
.logo a:hover{
    color: #1DAEFF;
}
.nav{
    padding: 3rem 10rem 1.5rem 10rem;
   
}
.nav li{
    list-style: none;
    display: inline-block;
    
}
.nav li a{
    color: black;
    font-size: 2em;
    font-weight: bold;
    margin-right: 5rem;
}
.nav li a, a:hover{
    text-decoration: none;
    
}
.nav li a:hover{
    color: #1DAEFF;
}

.nav ul button{
    background-color: transparent;
    border-radius: 1rem;
    padding: 0.7rem 2.5rem 0.6rem 2.5rem;
    border:0.2rem solid #1DAEFF;
}
.nav ul button:hover{
    background-color: #1DAEFF;
}
.nav ul button:hover a{ 
    color: #fff;
}
.nav ul button a{
    font-weight: bold;
    text-decoration: none;
    color:#1DAEFF;
}

/*FOOTER*/

#footer{
    padding: 3rem 10rem 3rem;
}

.footer{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1.5fr;
    gap: 8rem;
}

.row1 .logo{
    position: relative;
    margin-bottom: 2rem;
}

.row1 h2{
    color: gray;
    line-height: 2.5rem;
    
}

.social-media ul{
    margin-top: 3rem;
    display: flex;
    list-style: none;
    gap: 4rem;
    
}

.social-media ul li a{
    font-size: 2rem;
}
    
.copyright{
    font-size: 1.3rem;
    margin-top: 3rem;
}

.copyright a{
    text-decoration: none;
}

.TakeATour{
    position: relative;
    margin-top: 1.7rem;

}

.OurCompany{
    position: relative;
    margin-top: 1.7rem;

}

.Subscribe{
    position: relative;
    margin-top: 1.7rem;


}
.TakeATour-element{
    margin-top: 2.5rem;
}

.TakeATour-element li {
    list-style: none;
    margin-bottom: 2rem;
}

.TakeATour-element li a{
    
    text-decoration: none;
    color: black ;
    font-size: 1.8em;
}

.TakeATour-element li a:hover{
    color: #1DAEFF;
}

.OurCompany-element{
    margin-top: 2.5rem;
}

.OurCompany-element li {
    list-style: none;
    margin-bottom: 2rem;
}

.OurCompany-element li a{
    
    text-decoration: none;
    color: black;
    font-size: 1.8em;
}

.OurCompany-element li a:hover{
    color: #1DAEFF;
}
.Subscribe h1{
    margin-bottom: 2rem;
}

.Subscribe h2{
    color: gray;
    line-height: 2.5rem;
    margin-bottom: 2.5rem;
}

.box-email{
    margin-top: 4rem;
    




}
.button-email-footer{
    border-style: solid;
    border-color: gray;
    padding: 1.3rem;
    border-radius: 1rem ;
    padding-top: 1.7rem;
    background: white;
    margin-top: 5rem;
    
    
}

.button-email-footer input{
    border: none;
    outline: none;
    width: 20rem;
    
}
.button-email-footer button{
    cursor: pointer;
    border: transparent;
    background-color: transparent;
    border-radius: 50%;
    aspect-ratio: 1;
    height: 10%;
    color: #1DAEFF;
  
}

/*top section*/


.top-section{
    padding: 1.5rem 5rem 1.5rem 5rem;
}

.banner{
    background-image: url(../banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 68.8rem;
}

.banner h1{

    padding-top: 10rem;
    padding-left: 9rem;
    font-weight: bold;
    font-size: 7rem;
    width: 50%;
}

.banner p{
    width: 50%;
    padding-left: 9rem;
    margin-top: 6rem;
    font-weight: bold;
    font-size: 3rem;
    color: rgb(34, 0, 118);
}
.rent{
    display:flex;
    gap: 3.5rem;
    margin-top: 6rem;
    margin-left: 9rem;
    border-style: solid;
    border-color: #fff;
    border-radius: 1.3rem 1.3rem 0rem 0rem;
    height: auto;
    width: 8%;
    padding-left: 1.6rem;
    background-color: #fff;
}
.rent a{
    padding: 1rem;
    color: rgb(34, 0, 118);
    text-decoration: none;
    font-size: medium;
    letter-spacing: 0.3rem;
    font-weight: bold;
}

.rest-table{
    display: flex;
    align-items: center;
    margin-left: 9rem;
    border-style: solid;
    border-color: transparent;
    border-radius: 0rem 1.3rem 1.3rem 1.3rem;
    background-color: #ffffff9b;
    padding-left: 2.5rem;
    width: 100rem;
    gap: -10rem;
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    
}
.rest-table p{
    margin-top: -1.5rem;
    color: rgba(0, 0, 0, 0.07);
}
.titte-table{
    width: 25rem;
}

.titte-table h2{
    font-size: large;
}

.button-table{
    background: transparent;
    border:0.2rem solid #1DAEFF;
    background-color: #1DAEFF;
    border-radius: 1.3rem;
    padding: 1rem;
    
    
}
.button-table a{
    color: #fff;
}


.titte-table-button{
    display: flex;
    gap: 20rem;
}

.location-select{
    display: flex;
   
}
.location-select a{
    text-decoration: none;
    font-size: 1.5rem;
}


.section2{
    padding: 3rem 10rem 1.5rem 11rem;
}
.section2 h1{
    font-size: 5rem;
    text-align: center;
}

.slide{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5rem;
    position: relative;
}
.america p{
    position: absolute;
    margin-top: 5rem;
    margin-left: 7rem;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
}
.america img{
    border-radius: 3rem;
}

.america img:hover{
    box-shadow:0 0 2em ;
    transition: 1s;
    color: #000000;
}

.america a p{
    color: #000000;
}